h3 {
    margin-top: 5%;
    margin-bottom: 5%
}

.card {
    margin-bottom: 3%;;
}

.card:hover{
    background-color: blue;
}

.card:hover a{
    color: aquamarine;
}

.card a:hover {
    color: white;
    text-decoration: none;
}